.articlePreview {
	border: 1px solid limegreen;
	/*

    Will change depending on the odd and even child
    padding-left:20rem;
    padding-right:20rem;

    */
	.articleImageRight {
		transform: translateX(75rem);
	}
	.articleImageLeft {
	}
	.articleHeadingRight {
		transform: translateX(63rem);
	}
	.articleHeadingLeft {
	}
	.articleHeadlineLeft {
	}
	.articleHeadlineRight {
	}
}
