@font-face {
  font-family: "Times New Roman";
  src: url("./Vendor/Fonts/times new roman.ttf"), url("./Vendor/Fonts/times new roman bold.ttf"), url("./Vendor/Fonts/times new roman italic.ttf"), url("./Vendor/Fonts/times new roman bold italic.ttf");
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
  background: #141019;
  color: #f2f0db;
}

.container {
  display: block;
  max-width: 1920px;
  margin: auto;
  overflow: hidden;
}

.mantaineButton__root {
  border: 3px solid green;
}

@media screen and (max-width: 1920px) {
  .container {
    max-width: 1366px;
  }
}

.articleHeadingText {
  font-family: "Times New Roman";
  font-size: 7rem;
}

.articleHeadlineText {
  font-size: 3rem;
  font-weight: 300;
}

.imageFrame {
  position: relative;
  height: 81rem;
  width: 60rem;
}

.imageFrame .image {
  -webkit-box-shadow: inset 100px 100px 10px 10px rgba(14, 90, 81, 0.337);
          box-shadow: inset 100px 100px 10px 10px rgba(14, 90, 81, 0.337);
}

.imageFrame::before {
  content: "";
  position: absolute;
  width: 60rem;
  height: 81rem;
  -webkit-box-shadow: inset 60rem 81rem 10px 10px rgba(4, 23, 21, 0.811);
          box-shadow: inset 60rem 81rem 10px 10px rgba(4, 23, 21, 0.811);
  z-index: 10;
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

.imageFrame:hover::before {
  content: "";
  -webkit-box-shadow: inset 60rem 81rem 0rem 0rem rgba(4, 23, 21, 0.504);
          box-shadow: inset 60rem 81rem 0rem 0rem rgba(4, 23, 21, 0.504);
}

.articlePreview {
  border: 1px solid limegreen;
  /*

    Will change depending on the odd and even child
    padding-left:20rem;
    padding-right:20rem;

    */
}

.articlePreview .articleImageRight {
  -webkit-transform: translateX(75rem);
          transform: translateX(75rem);
}

.articlePreview .articleHeadingRight {
  -webkit-transform: translateX(63rem);
          transform: translateX(63rem);
}

.articlePreview .articleHeading {
  position: relative;
  bottom: 42rem;
  width: 72rem;
  margin-bottom: 2rem;
}

.articlePreview .articleHeadline {
  position: relative;
  bottom: 42rem;
  width: 72rem;
}

.mantaineButtonRoot {
  color: #f2f0db;
  font-size: 2.5rem;
}

.mantineEditorRoot {
  width: 800px;
  height: 500px;
  /* Needs to be 500 by default and
	 auto when text is generated. */
}

.mantineEditorToolbar {
  display: block;
  margin: auto;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border: 3px solid green !important;
}

.createPost {
  height: 100%;
}

.createPost .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.createPost .contentEditor {
  height: 100vh;
}

.createPost .contentEditor .mantineEditorRoot__Title {
  height: 20rem;
  width: 80rem;
}

.createPost .contentEditor .mantineEditorRoot__Passage {
  height: 60rem;
  width: 100rem;
}

.createPost .contentEditor .mediaArea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-column-gap: 5rem;
          column-gap: 5rem;
}

.createPost .contentEditor .mediaArea .mediaList {
  height: 100rem;
  width: 30rem;
  padding: 2rem 1.5rem;
  border: 1px dashed #f2f0db;
  overflow-y: auto;
}

.createPost .contentEditor .mediaArea .mediaListFrame {
  position: relative;
  height: 35rem;
  margin-bottom: 3rem;
}

.createPost .contentEditor .mediaArea .mantineDropZoneRoot {
  width: 70rem;
}

.createPost .createPostGrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(35rem, auto))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(35rem, auto));
  width: 100%;
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
  row-gap: 2rem;
  height: auto;
}

.createPost .createPostGrid .createPostGridItem {
  position: relative;
  width: 35rem;
  height: 43rem;
}

.positioningEditor {
  height: auto;
}

.positioningEditor .contentPositioning {
  height: auto;
  overflow-y: auto;
}

.positioningEditor .contentPositioning .textHandler {
  width: 50rem;
}

.positioningEditor .contentPositioning .imageHandler {
  display: inline-block;
}

.positioningEditor .contentPositioning .imageHandler .maneuverableImageFrame {
  position: relative;
  width: 30rem;
  height: 40rem;
}

.contentPreview {
  height: 100vh;
}

.contentPreview .imageHandler {
  display: inline-block;
}

.contentPreview .imageHandler .previewImageFrame {
  position: relative;
  width: 30rem;
  height: 40rem;
}
/*# sourceMappingURL=main.css.map */